.gen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i[class^="wi-"],
i[class*=" wi-"] {
  font-size: 200px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.form-container * {
  width: 30vw;
}
@media (max-width: 600px) {
  i[class^="wi-"],
  i[class*=" wi-"] {
    font-size: 100px;
  }
  .form-container * {
    width: 80vw;
  }
}

@media (max-width: 1080px) {
  .form-container * {
    width: 60vw;
  }
}
